body {
    display: flex;
    background: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    perspective: 1000px;
    position: relative; 
}

#controls {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
}

button {
    margin: 5px;
    padding: 5px 10px;
    font-size: 14px; 
    cursor: pointer;
}


#cube {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(-45deg);
    transition: transform 0.3s;
}

.face {
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgba(129, 129, 129, 0.9);
    border: 1px solid #000000;
    display: flex;
    flex-wrap: wrap;
}

.face div {
    width: 66.66px;
    height: 66.66px;
    border: 1px solid #000;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.face-front  { transform: translateZ(100px); }
.face-back   { transform: rotateY(180deg) translateZ(100px); }
.face-left   { transform: rotateY(-90deg) translateZ(100px); }
.face-right  { transform: rotateY(90deg) translateZ(100px); }
.face-top    { transform: rotateX(90deg) translateZ(100px); }
.face-bottom { transform: rotateX(-90deg) translateZ(100px); }
